<footer class="container-fluid bg-grey">

    <!--Newsletter-->
    <div class="container-fluid bg-lightblue">
        <div class="container">
            <div class="row footer-container justify-content-between">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div>
                        <h4>¡Recibí nuestras novedades!</h4>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="input-group">
                        <input type="text" class="form-control rounded-pill" placeholder="Ingrese su correo">
                        <button class="btn btn-outline-primary rounded-pill ms-3">Suscribir</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--Info-->
    <div class="container-fluid">

        <!--Parte superior-->
        <div class="container">

            <div class="row justify-content-center footer-container">

                <div class="col-sm-12 col-md-6 col-lg-3 footer-item mb-3">
                    <ul>
                        <li>
                            <h5>PRODUCTOS</h5>
                        </li>
                        <li><a href="#">Buzos</a></li>
                        <li><a href="#">Camperas</a></li>
                        <li><a href="#">Remeras</a></li>
                        <li><a href="#">Chombas</a></li>
                        <li><a href="#">Joggings</a></li>
                    </ul>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-3 footer-item mb-3">
                    <ul>
                        <li>
                            <h5>LA EMPRESA</h5>
                        </li>
                        <li><a href="#">Quienes somos</a></li>
                        <li><a href="#">Experiencia</a></li>
                    </ul>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-3 footer-item mb-3">
                    <ul>
                        <li>
                            <h5>CONTACTO</h5>
                        </li>
                        <li><a href="#">¡Congelá el precio</a>!</li>
                    </ul>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-3 footer-item">
                    <ul>
                        <li>
                            <h5>¡Encontranos en las redes!</h5>
                        </li>
                        <li class="icon-list">
                            <button class="btn">
                                <img src="/img/facebook.svg" alt="facebook-icon">
                            </button>
                        </li>
                        <li class="icon-list">
                            <button class="btn">
                                <img src="/img/instagram.svg" alt="instagram-icon">
                            </button>
                        </li>
                        <li class="icon-list">
                            <button class="btn">
                                <img src="/img/whatsapp.svg" alt="whatsapp-icon">
                            </button>
                        </li>
                        <li class="icon-list">
                            <button class="btn">
                                <img src="/img/envelope.svg" alt="envelope-icon">
                            </button>
                        </li>
                    </ul>
                </div>

            </div>

        </div>

        <!--Parte inferior-->
        <div class="container">
            <div class="row footer-container justify-content-center">

                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="icon-container">
                        <div>
                            <div class="footer-item">
                                <img src="/img/star2.svg" alt="star-icon">
                            </div>
                            <div class="footer-item">
                                <h5>GARANTÍA DE<br> CALIDAD</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="icon-container">
                        <div>
                            <div class="footer-item">
                                <img src="/img/truck2.svg" alt="truck-icon">
                            </div>
                            <div class="footer-item">
                                <h5 class="float-r">ENVÍOS A TODO<br> EL PAÍS</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="icon-container">
                        <div>
                            <div class="footer-item">
                                <img src="/img/shield-check2.svg" alt="shield-icon">
                            </div>
                            <div class="footer-item">
                                <h5 class="float-r">COMPRA ONLINE<br> SEGURA</h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>



    <!--Copyright-->
    <div class="container-fluid h-blue-line">
        <div class="container">
            <div class="container footer-container flex-column">
                <p class="footer-item">Av. Recta Martinolli 6701, CP 5000, Cordoba</p>
                <p class="footer-item">Copyright Vogel Egresados - 2021. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>

</footer>